<div class="container-fluid home-component">
  <div class="panel panel-default">
    <div class="panel-body">
      <i class="fa fa-calendar panel-icon"></i>
      <span><a href="http://localhost:3002/scheduler">Scheduler</a></span>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <i class="fa fa-users panel-icon"></i>
      <span>Patient Tracker</span>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <i class="fa fa-question panel-icon"></i>
      <span>Placeholder</span>
    </div>
  </div>
</div>
