.home-component {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;

  .panel {
    margin: 0 10px;
  }

  .panel-body {
    padding: 30px 60px;
    text-align: center;

    span {
      display: block;
      margin-top: 10px;
      color: #444;
    }
  }

  .panel-icon {
    font-size: 3rem;
    color: orange;
  }
}
